.back {
    position: fixed;
    width: 50px;
    height: 50px;
    right: 24px;
    bottom: 24px;
    background-color: var(--primary-color);
    border-radius: 50%;
    place-content: center;
    display: grid;
    color: #000;
    z-index: 666;
    opacity: .2;
    transition: .5s;
}

.back:hover {
    opacity: 1;
}


/* TABLET */

@media (max-width:960px) {
    .back {
        display: none;
    }
}


/* MOBILE */

@media (max-width:640px) {}