.projetos {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.card-container {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 48px;
}

.card {
    position: relative;
    overflow: hidden;
}

.card::before {
    content: "Clique aqui para abrir o projeto";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0009;
    display: grid;
    place-content: center;
    transform: translateY(100%);
    transition: trasform 1s;
}

.card:hover::before {
    transform: translateY(0%);
}


/* TABLET */

@media (max-width:960px) {
    .projetos {
        max-width: 868px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card-container {
        display: flex;
        flex-direction: column;
    }
    .card {
        width: 672px;
        height: 400px;
        display: flex;
        flex-direction: column;
    }
}


/* MOBILE */

@media (max-width:640px) {
    .projetos {
        max-width: 592px;
        width: 100%;
        align-items: center;
    }
    .card {
        width: 400px;
        height: auto;
        display: flex;
        flex-direction: column;
    }
}