:root{
    --primary-color: #FEDC00;
    --icon-color: #252525;

}
html{
    scroll-behavior: smooth;
}
body{
    display: grid;
    grid-template-areas: "content";
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    background-color: black;
}

header{
    place-self: start center;
    grid-area: content;
    max-width: 1200px;
    width: 100%;
    margin-top: 48px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main{
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    height: 100vh;

 }
 

 .projetos{
     background-color: royalblue;
     width: 100%;
 }

 .contato{
     background-color: bisque;
     width: 100%;
 }

 footer{
     place-self: end center;
     grid-area: content;
     height: 100px;
     width: 100%;
     background-color: #0008;

 }